
<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title  class="title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
      
          <ion-item>
            <a  [class] ="tipoTexto" class="menuNav" routerLink="/formulario">Registro</a>
          </ion-item>
      
        <ion-item>
          <a  [class] ="tipoTexto" class="menuNav" routerLink="/personalizacion">Personalización</a>
        </ion-item>
        <ion-item>
          <a   [class] ="tipoTexto" class="menuNav" routerLink="">Cerrar Sesión</a>
        </ion-item>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  <div class="ion-page" id="main-content" color="primary" >
    <ion-header >
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="title">Registro</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      <!-- <ion-list *ngFor="let item of temas">
        <ion-item >
          {{item.tema}}
        </ion-item>
      </ion-list> -->

      <ion-list>
        <ion-item>
          <ion-select interface="action-sheet" placeholder="Seleccione el tema" (ionChange)="getObjetivos( $event )" >
            <ng-container *ngFor="let item of temas">
              <ion-select-option value={{item.tema}}>{{item.tema}}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select interface="action-sheet" placeholder="Seleccione el objetivo">
            <ng-container *ngFor="let item of objetivos">
              <ion-select-option value={{item}}>{{item}}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>

      </ion-list>



    </ion-content>
  </div>
</ion-content>
