<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      StatuTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="loginDivImg">
    <img src="assets/imagenes/login.png" class="loginImg" alt="...">
  </div>
  <div class="title">
    <ion-label class="letra">Bienvenido</ion-label>
    <ion-list>
      <ion-item>
        <ion-label position="floating" class="letra">Correo</ion-label>
        <ion-input  [(ngModel)]="correo" type="text" class="letra"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="clave" type="password"></ion-input>
      </ion-item>
      
    </ion-list>
    <ion-button (click)="ingresar()">Ingresar</ion-button>
  </div>
</ion-content>