<ion-content color = "red">
  <div class="ion-page" >
    <ion-header >
      <ion-toolbar [color]="color" >
        <ion-buttons slot="start">
          <ion-menu-button menu="menuPrincipal"></ion-menu-button>
        </ion-buttons>
        <ion-title class="title {{fuenteSelect}}">Tema</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [class]="fuenteSelect" [class]="fondoSelect">
      <ion-label [class]="fuenteSelect"> Bienvenido, {{nombre}}</ion-label>

      <ion-list>
        <ion-item>
          <ion-label position="floating">Seleccione el estilo:</ion-label>    
            <ion-select placeholder="Elija su estilo" (ionChange)="updateStyle()" [(ngModel)] = temaSelect>
              <ng-container *ngFor="let estilo of estilos">
                <ion-select-option value={{estilo.nombre}}> {{estilo.nombre}} </ion-select-option>
              </ng-container>
            </ion-select> 

        </ion-item> 

        <div class="buttonRegistro {{fuenteSelect}}">
          <ion-button [color]="color">Confirmar</ion-button> 
        </div>
      </ion-list>
</ion-content> 
  </div>  
</ion-content>

<ion-footer>
  <ion-toolbar [color]="color">
    <ion-title>UPS</ion-title>
  </ion-toolbar>
</ion-footer>